@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
}

main {
    width: 80%;
    max-width: 350px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2em;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 7px 7px black;
}

.hero-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 0.5em;
    object-fit: contain;
}

.status {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0.75em 0;
    padding: 0.4em 0.8em;
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    border-radius: 4px;
}

.meta-data {
    font-size: 0.65em;
    margin: 0.3em 0 0.5em;
}

h1 {
    font-size: 1.1rem;
    margin: 0.7rem 0;
}

.body {
    font-size: 0.8rem;
    font-weight: 400;
    color: hsl(0, 0%, 42%);
    margin: 0 0 1.5em;
    line-height: 1.5;
}

.profile {
    width: 100%;
}

.profile-picture {
    position: relative;
    width: 1.75rem;
}

.name {
    position: absolute;
    font-size: 0.75rem;
    font-weight: 700;
    /* display: inline-block; */
    display: inline-block;
    margin: 0.6em 0.8em;
}